.position-container {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100px;
   width: 290px;
   bottom: 250px;
   right: 195px;
}

.switch {
   width: 40px;
   background-color: rgb(245, 245, 63);
   border: 3px solid black;
   padding: 3px;
   cursor: pointer;
}

.switch:hover {
   opacity: 0.8;
}

.p1 {
   width: 50px;
   margin-right: 7px;
}

.p2 {
   width: 57px;
}
