@font-face {
   font-family: 'advance-wars-2-gba-webfont';
   src: url('./font/advance-wars-2-gba-webfont.woff2') format('woff2'),
      url('./font/advance-wars-2-gba-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

* {
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100vh;
   width: 100vw;
   background: url('./images/bg.png') no-repeat;
   background-size: cover;
   font-family: 'advance-wars-2-gba-webfont';
   font-size: 35px;
   overflow: hidden;
}

.app {
   height: 720px;
   width: 1280px;
}

.top-container {
   display: flex;
   text-align: center;
   justify-content: space-between;
   align-items: center;
}

.nell-full {
   position: absolute;
   width: 330px;
   right: 190px;
   bottom: 10px;
}
