@font-face {
   font-family: 'advance-wars-2-gba-webfont';
   src: url('./font/advance-wars-2-gba-webfont.woff2') format('woff2'),
      url('./font/advance-wars-2-gba-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

* {
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100vh;
   width: 100vw;
   /* background: url('./images/bg.png'); */
   background: url(./images/bgcropped.png);
   background-size: 300px;
   font-family: 'advance-wars-2-gba-webfont';
   font-size: 35px;
   overflow: hidden;
   animation: movingBackground 10s linear infinite;
}

.app {
   position: relative;
   height: 720px;
   width: 1280px;
   background-color: rgb(168, 166, 166, 0.5);
}

.top-container {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: flex-start;
}

.nell-full {
   position: absolute;
   width: 300px;
   right: 240px;
   bottom: 10px;
}

@keyframes movingBackground {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -300px 0px;
   }
}

.final-page {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
}

.logo {
   width: 400px;
}

.final-sub-container {
   position: relative;
   width: 900px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding-left: 20px;
}

.vs {
   position: absolute;
   width: 90px;
   left: 205px;
   padding-top: 50px;
   z-index: 100;
}

.flex.finalp {
   margin-right: 80px;
}

.playname {
   margin-right: 20px;
}

.player1-p1 {
   position: absolute;
   background: #fbf2c1;
   top: 0;
   height: 30px;
   right: 0;
}

.player {
   position: relative;
}

.final-map-container {
   display: flex;
   flex-direction: column;
   width: 250px;
   margin-left: 150px;
}

.final-map {
   border: 4px solid black;
   width: 250px;
}
