.map {
   width: 150px;
   border: 4px solid black;
   margin-right: 15px;
}

.map:hover {
   cursor: pointer;
}

h3 {
   margin: 20px 0 20px 0;
}

.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   opacity: 0;
   transition: opacity 0.5s;
   pointer-events: none;
}

.show {
   opacity: 1;
   flex-direction: column;
   z-index: 10;
   background: rgba(244, 255, 255, 0.4);
   transition: opacity 0.5s;
}

.modal-img {
   width: 500px;
}

h4 {
   font-weight: 500;
   margin-bottom: 5px;
}

.pos {
   border: 5px solid #ac3232;
}

.pos:focus {
   outline: none;
}

.inline {
   width: 100%;
   height: 100%;
   position: relative;
   margin-top: 100px;
   margin-right: 20px;
}

.mapBtn {
   margin: 0;
   position: absolute;
   right: 15px;
   top: 0;
   padding: 5px;
}
